.navTree {
  white-space: nowrap;
}

.majorHeader {
  padding-left: 0.25rem;
  font-weight: bold;
}

.navTree ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: normal;
}

.navTree a,
.navTree ul ul {
  padding: 0 0 0 0.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navTree a,
.navTree a:visited {
  display: block;
  color: #3656c6;
  text-decoration: none;
  border-radius: 0.15rem;
}

.navTree li {
  padding: 0;
}

.navTree .active > a,
.navTree .active > a:visited {
  color: #000;
  font-weight: 500;
}

.navTree a:hover,
.navTree .active a:hover {
  color: #ffffffcc;
  background: #3656c6cc;
}

.active {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
}

.active .active {
  background: rgba(255, 255, 255, 0.3);
}

.active .active .active {
  background: rgba(255, 255, 255, 0.4);
}

.active .active .active .active {
  background: rgba(255, 255, 255, 0.75);
}
